#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application

Name=myapp-template
Comment=appimage appdir template
Categories=Development;Building;

Icon=myapp-template
# AppRun script will exec AppDir/usr/bin/myapp
Exec=myapp
Terminal=false
