#!/usr/bin/env xdg-open
[Desktop Entry]
Name=myapp-template
Comment=myapp-template
# AppRun script will exec AppDir/usr/bin/myapp
Exec=myapp
Icon=myapp-template
Terminal=false
Type=Application
Categories=Game
