name: "pre-release"

  #on:
  #  push:
  #    branches:
  #      - "main"

on: [workflow_dispatch]

jobs:
  pre-release:
    runs-on: "ubuntu-latest"
    container:
      image: ubuntu:22.04
      options: --privileged

    steps:
      - name: Install packages
        run: |
          apt-get update -y
          apt-get install -y \
            wget \
            binutils \
            xz-utils \
            fuse \
            libfuse2 \
            file \
            unzip \
            unionfs-fuse

      - name: checkout current repo code
        uses: actions/checkout@v5
        with:
          repository: zerobikappa/appimage-myapp-appdir-template
          path: appimage-myapp-appdir-template

      - name: update and build
        run: |
          echo "test: id="$(id -u) "username="$USER
          wget -c "https://raw.githubusercontent.com/Winetricks/winetricks/master/src/winetricks" -O appimage-myapp-appdir-template/usr/bin/winetricks
          chmod u+x appimage-myapp-appdir-template/usr/bin/winetricks
          wget -c "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage" -O  appimagetool.AppImage
          chmod u+x appimagetool.AppImage
          wget -c "https://github.com/adobe-fonts/source-han-sans/releases/download/2.004R/SourceHanSans.ttc.zip"
          unzip SourceHanSans.ttc.zip
          mv SourceHanSans.ttc appimage-myapp-appdir-template/opt/myapp/myapp_fonts/sourrcehansans.ttc
          ./appimage-myapp-appdir-template/.remove-appdir-git.sh

          cp "$(command -v unionfs)" appimage-myapp-appdir-template/usr/bin/
          ARCH=x86_64 ./appimagetool.AppImage appimage-myapp-appdir-template

          #ARCH=aarch64 ./appimagetool.AppImage appimage-myapp-appdir-template

          #ARCH=i386 ./appimagetool.AppImage appimage-myapp-appdir-template

          grep -m 1 MYAPPRUN_VERSION ${GITHUB_WORKSPACE}/appimage-myapp-appdir-template/opt/myapp/myapp_script/main.sh >> "$GITHUB_ENV"

      - name: auto release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ env.MYAPPRUN_VERSION }}"
          title: "${{ env.MYAPPRUN_VERSION }}"
          prerelease: false
          files: |
            myapp-template-x86_64.AppImage

      - name: auto release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          title: "Continuous Build"
          prerelease: true
          files: |
            myapp-template-x86_64.AppImage
            #myapp-template-aarch64.AppImage
            #myapp-template-i386.AppImage

